<<<<<<< HEAD
@media all and (max-width: 1000px) {
  
}

@media all and (max-width: 670px) {
    .header-right {
      display: none;
      font-size: 25px;
    }
    
    .menu-icon {
      display: block;
    }
  }
=======
/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
 

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  
  .btn {
    width: 100%;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
>>>>>>> 56b55d9fa8d36859357376c494ca680710bf6272
