{
    box-sizing: border-box;
  }

  html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Goudy Bookletter 1911";
  }

  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(185, 0, 0, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 140px;
    height: 50px;
    padding: 5px;
    margin: 5px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float:left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(114, 0, 0, 0.3);
  }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(foto/8.JPEG);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color:black;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  opacity: :0.7;
}

.top-wrapper p {
  color:black;
  margin-bottom: 3px;
  opacity: 0.7;
  font-size: 24px;
}

.btn-wrapper {
  text-align: center;
  margin: 40px 0;
}


.signup {
	background-color: #8a2be2;
	background-color: red;
	animation-name: example;
	animation-duration: 4s;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(bg.JPG);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  color:white;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.top-wrapper p {
  color:black;
  margin-bottom: 3px;
  opacity: 0.7;
  font-size: 24px;
}

.btn-wrapper {
  text-align: center;
  margin: 40px 0;
}


.signup {
  background-color: #40d0e0;
}


.btn {
  padding: 20px 40px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 50px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
  background-color: #555;
  color: white;
}


@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
